@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #eaedec !important;
}

.landing {
    background: white url("./assets/img/bg-image.jpg") no-repeat scroll center;
    background-size: cover;
    height: 100vh;
    color: darkgray;
}

.landing .wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.developer-card {
    background: linear-gradient(45deg, gray, lightblue);
}

.bg-light-green {
    background-color: #bae7d2 !important;
}

.spinner {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}